body{
    margin: 0%;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 10px;
    
}
.all_div{
    height: 100vh;
    width: 60vw;
    margin-left: 20vw;
    background-color: aqua;
}
header
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


main div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10vw;
}
.or_button{
    border: 1px solid rgb(116, 116, 116);
}