nav {
    display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      width: 100vw;
  }
  
  .navButton {
      color: white;
      text-decoration: none;
      font-family: 'Cabin';
      margin-right: 1vw;
      transition: all 0.3s ease-in-out;
  }
  
  .navButton:hover {
      transform: scale(1.1)
  }
  
  .navButton:last-child {
      margin-right: 0;
  }
  
  #navBorder {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      width: 30vw;
      height: 6vh;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }